<div id='modal'><span id='close'>CLOSE</span></div>	
<h1> This is your homepage</h1>
<h1> Today's Date is: <%= Time.now.strftime("%m/%d/%Y") %> </h1>

<a href="#" class="paulund_modal">Click Here</a>
<section id = "exercises"></section>


<div id = "exercise-container"></div>

