<div id='modal'><span id='close'>CLOSE</span></div>	

<h1> Today's Date is: <%= Time.now.strftime("%m/%d/%Y") %> </h1>


<section id = "exercises" class = "greybox"></section>


<div id = "exercise-container"></div>

